data/
venv/
venv.test/

.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo

.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.ncb
*.suo
*.sdf
*.dbmdl
*.psess
*.vsp
*.vspscc
*.vssscc
*.tmp
*.log

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo

.git/
.hg/
.svn/
